<div class="hero">
    <div class="hero-content">
      <h1>Velkommen til Study Health</h1>
      <p>Skab en sund studieoplevelse med os.</p>
      <button class="btn btn-primary" routerLink="/login">Kom i gang</button>
    </div>
  </div>
  
  <div class="how-it-works">
    <div class="feature-box-container"> 
      <div class="feature-box">
        <h2>Stresshåndtering</h2>
        <h3>Reducere stress og styrke din mentale sundhed.</h3>
      </div>
      <div class="feature-box">
        <h2>Studiehjælp</h2>
        <h3>Studiegrupper og samarbejde for at forbedre din studieoplevelse.</h3>
      </div>
      <div class="feature-box">
        <h2>Sundhedsrådgivning</h2>
        <h3>Få personlig sundhedsrådgivning og skab sunde vaner under studietiden.</h3>
      </div>
    </div>
  </div>